@use '../shared';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

:host([hidden]) {
  display: none !important;
}

.page {
  flex: 1;
  min-height: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem 1.5rem;
}

.table-wrapper {
  flex: 1;
  min-height: 0;
  overflow: auto;
  width: 100%;
}
